*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
}
h2 {
  color: white;
  position: relative;
  margin-top: 5px;
  margin-left: 15px;
  z-index: 10;
  opacity: 1;
}
header {
  width: 100%;
  height: 3em;
  background-color: black;
  z-index: 0;
  opacity: 0.5;
  margin-top: -38px;
}
main {
  width: 100%;
  height: 95vh;
  background-color: #C98925;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -48px;
}
#col_container{
  width: 50em;
  height: 38em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3em;
}
#col_1{
  width: 55%;
  height: 100%;
}
form{
  width: 100%;
  height: 50%;
}
select{
  width: 100%;
  height: 70%;
  background-color: white;
  overflow: scroll;
}
optgroup{
  font-size: 25px;
}
option{
  font-size: 20px;
  margin: 10px 0 10px 0;
}
span{
  margin-left: 100px;
}
label{
  font-size: 13px;
}
.input_div{
  margin: 13px 0 13px 0;
}
#quantity-wrap{
  display: inline-block;
  margin-top: 0px;
}
#quantity{
  display: block;
  width: 60px;
  height: 35px;
  font-size: 30px;
  border: 1px solid #9A9A9A;
}
#add_item {
  width: 120px;
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  background-color: #5973A6;
  opacity: .8;
  height: 45px;
  color: white;
  font-size: 15px;
  box-shadow: 1px 1px 1px 1px grey;
}
.user_info {
  width: 100%;
  height: 40px;
  background-color: #FAFFBD;
  border: 1px solid #9A9A9A;
  font-size: 30px;
}
#submit {
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #59A673;
  opacity: .8;
  margin-top: 25px;
  box-shadow: 1px 1px 1px 1px grey;
}
#cart-container{
  background-color: white;
  width: 43%;
  height: 100%
}
#cart {
  width: 100%;
  height: 85%;
  margin-top: 10px;
}
.inline_name{
  float: left;
}
.inline_price{
  float: right;
  padding-left: 10px;
  padding-right: 20px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#totals{
  width: 100%;
  height: 12%;
}
.total{
  width: 40px;
  padding-left: 10px;
  padding-right: 20px;
  text-align: right;
}
.inline_total{
  float: right;
}
footer{
  width: 100%;
  height: 5vh;
  background-color: black;
}
.fleur{
  color: white;
  z-index: 10;
}
#footer-flex{
  height: 100%;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
small{
  color: white;
}
